.blog-content {
 & {
   margin: 0 0 0;
 }

  > .ant-row >.item {
    padding-bottom: 24px;
  }

  > .ant-row > .item > .link > .img {
    width: 100%;
    height: 270px;
    background-size: cover;
    background-position: top center;

    &:hover {
      opacity: .8;
    }
  }
}
