@font-face {
    font-weight: 300;
    font-family: 'Oswald';
    font-style: normal;
    src: url('../static/fonts/Oswald-Light.ttf') format('ttf'),
    url('../static/fonts/Oswald-Light.woff') format('woff');
}

@font-face {
    font-weight: 600;
    font-family: 'Oswald';
    font-style: normal;
    src: url('../static/fonts/Oswald-Medium.ttf') format('ttf'),
    url('../static/fonts/Oswald-Medium.woff') format('woff');
}

@font-face {
    font-weight: 400;
    font-family: 'Oswald';
    font-style: normal;
    src: url('../static/fonts/Oswald-Regular.ttf') format('ttf'),
    url('../static/fonts/Oswald-Regular.woff') format('woff');
}