@media screen and (min-width: 320px) {
  body {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    background: #000000;
  }
  
  #__next {
    display: flex;
    justify-content: center;
    min-height: 100%;
    background-color: #373636;
  }
  
  .ant-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1150px;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a .link {
    color: transparent;
    text-decoration: none;
  }

  a:focus {
    text-decoration: none;
  }

  .ant-layout-content .ant-row.container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .ant-layout-content .ant-row.container > .ant-col-18 {
    width: 100%;
  }

  .ant-layout-content .ant-row.container > .ant-col-6 {
    width: 100%;
  }  

  .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #ff9c00;
    text-transform: uppercase;
    padding: 10px 0;

    > .link {
      width: 100%;
    }

    > .link > .title {
      color: #ffffff;
      font-size: 28px;
      margin-bottom: 0;
      text-align: center;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 45px;
      width: 100%;

      &:hover {
        color: #000000;
      }
    }

    > .text {
      font-size: 13px;
      cursor: default;
    }
  }

  .magazine-wrap > .wrap > .link > .title-wrapper {
    max-width: 300px;
  }
}

@media screen and (min-width: 320px) {  
  .static-container {
    width: 100%;
    padding: 50px 20px;
    font-size: 17px;

    .title.-main {
      margin-bottom: 35px;
    }

    .title.-sub {
      margin: 35px 0 15px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .static-container {
    padding: 50px 40% 50px 70px;
  }
}

@media screen and (min-width: 1200px) {
  .ant-layout-content .ant-row.container {
    flex-direction: row;
  }

  .ant-layout-content .ant-row.container > .ant-col-18 {
    width: 75%;
  }

  .ant-layout-content .ant-row.container > .ant-col-6 {
    width: 25%;
  }

  .title-wrapper {
    > .link > .title {
      font-size: 30px;
    }
  }
}
