 @media screen and (min-width: 320px) {
    .main-header.ant-layout-header {
        & {
            padding: 0;
            background: none;
            height: auto;
            line-height: 1.5;
        }

        > .container > .wrapper {
            background: #000000 url("/static/img/logo.png") no-repeat;
            background-position: center;
            background-size: contain;
            height: 150px;
        }

        > .container > .main-nav {
            color: #ffffff;
            background-color: #ffa500;
        }

        > .container > .main-nav > .list {
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
            font-size: 18px;
        }

        > .container > .main-nav > .list > .item {
            padding: 0 30px 0 25px;
            line-height: 45px;
            display: flex;
            justify-content: center;
            width: 100%
        }

        > .container > .main-nav > .list > .item > .title {
            color: #ffffff;

            &:hover {
                color: #000000;
            }
        }
    }
}

@media screen and (min-width: 780px) {
    .main-header.ant-layout-header {
        > .container > .main-nav > .list {
            flex-direction: row;
        }

        > .container > .main-nav > .list > .item {
            width: auto;
        }
    }
}

@media screen and (min-width: 900px) {
    .main-header.ant-layout-header {
        > .container > .wrapper {
            background-position-x: 30px;
            background-size: contain;
            height: 175px;
        }
    }
}

