@media screen and (min-width: 320px) {
  .blog-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .blog-preview {
    display: flex;
    width: 100%;
    padding: 25px 3% 0;

    > .blog-content {
      width: 100%;
    }
  }

  .form-wrap {
    display: flex;
    flex-direction: column;
  }

  .ant-form {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 50px 0;
    }

    > .ant-form-item {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1000px) {
  .blog-preview {
    padding: 25px 5% 0;
  }
}


