@media screen and (min-width: 320px) {
  .post-wrap {
    & {
      display: flex;
      flex-direction: column;
      margin: 0 3%;
      padding: 40px 0;
    }

    h4 {
      font-weight: 600;
    }

    > .title {
      display: flex;
      justify-content: center;
      font-family: 'Oswald', serif;
      font-size: 42px;
      font-style: normal;
      font-weight: 600;
      color: rgba(0, 0, 0, .84);
      line-height: 1.04;
      letter-spacing: -.015em;
      text-transform: capitalize;
    }

    > .text {
      display: block;
      font-family: 'Roboto', serif;
      font-size: 21px;
      font-style: normal;
      font-weight: 400;
      color: rgba(0, 0, 0, .84);
      overflow-wrap: break-word;
      text-rendering: optimizelegibility;
      letter-spacing: -0.063px;
      line-height: 33.18px;
    }

    > .link {
      display: flex;
      align-items: center;
      align-self: flex-start;
      font-size: 18px;
      color: #ffa500;
      margin-bottom: 10px;

      &:hover {
        color: #000000;
      }
    }

    > .link > .icon {
      margin-right: 10px;
    }

    .img {
      width: 100%;
    }

    .img-wrap {
      &.-post {
        display: block;
        margin: 0 0 20px;
      }
		}
		
		.img-wrap > .video-wrap {
			display: flex;
			width: 100%;
		}
  }
}

@media screen and (min-width: 640px) {
  .img-wrap.-post {
    display: block;
    width: 65%;

    &.-left {
      float: left;
      margin-right: 20px;
    }

    &.-right {
      float: right;
      margin-left: 20px;
    }
  }
}

@media screen and (min-width: 900px) {
  .post-wrap {
    & {
      margin: 0 5%;
    }

    .img-wrap:not(.-post) {
      text-align: center;
    }

    .img-wrap:not(.-post) > .img {
      width: 70%;
    }

    .img-wrap.-post {
      width: 50%;
    }
  }
}

