body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

#__next {
  display: flex;
  justify-content: center;
  background-color: #373;
}

.ant-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1150px;
}
